.caixa{
    border: 2px solid green;
    width: 600px;
    height: 100vh;
}

h4{
    display: inline;
    border: 2px solid yellow;
    position:sticky;
    top: 0px;
    background-color: aqua;
}